<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body>
    success create db
</body>

</html>

<script>
    
</script>