<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/share/main.css">
    <link rel="stylesheet" href="css/share/left.css">
    <link rel="stylesheet" href="css/share/mainFontFamily.css">
    <link rel="stylesheet" href="css/beforehome/style_forgetPassword.css">
    <link rel="stylesheet" href="css/share/share.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="js/share.js"></script>
    <link rel="Shortcut Icon" type="image/x-icon" href="img/titleIcon.ico" />
    <title>forgetPassword</title>
  </head>
  <body>
    <div class="wrap">
      <div class="main">
        <!--left-->
        <div class="box sidebarLeft">
          <img src="img/MARK.png" class = "leftMarkOut">
          <dl  style="font-size: calc(5px + 0.5vw);color:black;position: absolute;bottom:1vh;left:0px;text-align:left;">
            <dt style="margin-bottom:0.5vh;">聯絡信箱：</dt>
            <dd>
              <a href="mailto://fullspeedline@gmail.com" style="color:black;">fullspeedline@gmail.com</a>
            </dd>
          </dl>
        </div>
        <div class="box center" id="center">
          <img src="img/bk.jpg" id="bkImg">
          <input type="button" value="" id="goBack3" onclick="back()">
          <div class="innerBox">
              <h1>忘記密碼</h1>
              <table>
                <tr>
                  <td>
                    <img src="img/user.png" id="userImg">
                  </td>
                  <td>
                    <input type="text" id="userName"  placeholder="使用者帳號">
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td>
                    <img src="img/email.png" id="emailImg">
                  </td>
                  <td>
                    <input type="text" id="userEmail" placeholder="信箱">
                  </td>
                </tr>
              </table>
              <br>
              <input type="button" id="signUp" value="" onclick="forgetPass()" title="確認">
          </div>
        </div>
        <!--right-->
        <div class="box sidebarRight">
        </div>
      </div>
      <div class="footer"></div>
    </div>
  </body>
  <script src="js/beforehome/forgetPass.js"></script>
  <script src="js/closeEvent.js"></script>
</html>
