<% include layout/navbar %>
<div style="margin: 5rem; margin-top: 0rem; ;">
   <h3>iCoding 介紹影片</h3>
   <iframe width="100%" height="100%" src="https://www.youtube.com/embed/JVFec503RJA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<% include layout/nobottom-footer %>