<% include layout/header %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<style>
    .renewDiv{
        margin-bottom: 2rem;
        padding: 20px;
        border-radius:20px;
        background-color:rgb(255, 255, 255);
        border: 1px solid rgb(194, 190, 190);
        width:50%;
    }
    @media screen and (max-width: 400px) {
      .renewDiv{
          margin-bottom: 2rem;
          padding: 20px;
          border-radius:20px;
          background-color:rgb(255, 255, 255);
          border: 1px solid rgb(194, 190, 190);
          width:100%;
      }
    }
</style>
<div class="h-75 renewDiv m-auto minrenewDiv" style="position:relative">
  <h3 class="title">
    輸入新密碼
  </h3>
  <br>
  <div id="renewpassword">
    <div class="form-group">
      <label>密碼:</label>
      <input type="password" class="form-control" placeholder="請輸入密碼" name="password">
    </div>
    <div class="form-group">
        <label>確認密碼:</label>
        <input type="password" class="form-control" placeholder="請再輸入一次密碼" name="password2">
    </div>
    <div class="form-group m-0">
        <p class="m-0"><i class="fas fa-bullhorn"></i>請確認輸入訊息</p>
    </div>
    <div class="form-group alert p-0">
    </div>
    <button class="btn btn-primary" style="position:absolute;left:5%;bottom:10%;opacity:0.5;" onclick="relogin()">取消</button>
    <button class="btn btn-primary" style="position:absolute;right:5%;bottom:10%;" onclick="confirmcontent()">確定</button>
  </div>
</div>
<script>
  let relogin = function(){
    window.location = "/users/login";
  }
  let confirmcontent = function(){
    let urlstr = location.pathname;
    let urlstr2 = urlstr.split("users/renewpassword/")[1];
    let urlstr3 = ""
    for(let i=4;i<urlstr2.length;i++){
      urlstr3 += urlstr2[i];
    }
    let password = document.getElementsByName("password")[0].value;
    let password2 = document.getElementsByName("password2")[0].value;
    $(".form-group.alert").empty();
    if(password == "" || password2 == ""){
      $(".form-group.alert").append(`<p class="m-0" style="color:red"><i class="fas fa-exclamation-triangle" style="color:red"></i>未填寫</p>`)
    }else{
      if(password != password2){
        $(".form-group.alert").append(`<p class="m-0" style="color:red"><i class="fas fa-exclamation-triangle" style="color:red"></i>輸入錯誤</p>`)
        document.getElementsByName("password")[0].value = "";
        document.getElementsByName("password2")[0].value = "";
      }else{
        window.location = "/users/confirmpassword/"+password+"/"+urlstr3;
      }
    }
  }

</script>

<% include layout/footer %>
