<% include layout/header %>
<style>
    .button {
        background: black;
        color: white;
        flex: 1;
        border: none
    }

    .button:hover {
        background: red;
    }

    .button:active {
        background: rgb(177, 177, 177);
        color: black
    }

    .button:focus {
        outline: 0;
    }
</style>
<div class="row">
    <div class="col">
        <h3 style="margin-top: 4px;margin-bottom: 4px;">新增程式題</h3>
    </div>
    <div class="col" style="display: flex; justify-content: flex-end">
        <p style="width: 20%;display: flex;justify-content: center;flex-direction: column;padding: 0;margin: 0">標籤：</p>
        <input type="text" style="margin-right: 1rem;width: 80%" disabled id = "tagList">
        <div class="dropdown" style="display: flex;justify-content: center;flex-direction: column;margin-right: 1rem">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                選擇分類
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%tags.forEach(function(tag){%>
                    <a class="dropdown-item" href="#" onclick="addTag(`<%=tag.tagName%>`)"><%=tag.tagName%></a>
                <%})%>
            </div>
        </div>
        <button class="btn btn-primary" onclick="saveQution()">儲存題目</button>
    </div>
</div>
<hr>

<div class="row" style="height:40rem">
    <div class="col">
        <div
            style="width: 100%;display: flex;height: 5%;justify-content: space-between;border: black solid 1px;padding: 0px 0px 0px 1rem;">
            <p style="flex: 2;margin: auto;height: 22px;padding: 0;">題目名稱：</p>
            <input style="flex: 10;border: none;border-left: 1px solid black;padding: 0px 1rem" id="title"
                placeholder="請輸入題目名稱"></input>
        </div>
        <textarea id="Detail"></textarea>
    </div>
    <div class="col" id="elem">
        <div style="height: 100%;width: 100%">
            <div class=" w-100">
                <div
                    style="width: 100%;display: flex;height: 5%;justify-content: space-between;border: black solid 1px;padding: 0px 0px 0px 1rem;">
                    <p style="flex: 2;margin: auto;height: 22px;padding: 0;">新增測資</p>
                    <div style="flex: 6"></div>
                    <button class="button" onclick="addNewTest()">新增</button>
                </div>
                <div id="TestInputList"
                    style="overflow-y: scroll;height: 100%;border: 1px solid rgb(209, 209, 209);padding: 0px 1rem;border-top: none">

                </div>
            </div>
        </div>
    </div>
</div>


<script src="/ckeditor/ckeditor.js"></script>
<script>
    let tagArray = [];
    let addTag = function(tagName){
        if(tagArray.indexOf(tagName)==-1){
            tagArray.push(tagName);
        }else{
            tagArray.splice(tagArray.indexOf(tagName),1);
        }
        updateTag()
    }
    let updateTag = function(){
        let tagList = document.getElementById('tagList');
        tagList.value = "";
        for(let i = 0;i<tagArray.length;i++){
            tagList.value+=tagArray[i]
            if(i!=tagArray.length-1){
                tagList.value+=","
            }
        }
    }
    let Detail = CKEDITOR.replace('Detail', {
        height: "100px",
        on: {
            instanceReady: function (evt) {
                let cke_1_bottom = document.getElementById('cke_1_bottom');
                cke_1_bottom.style.cssText = "display:none"
                let cke_inner = document.getElementsByClassName("cke_inner")[0];
                Detail.resize($("#elem").width(), $("#elem").height());
            }
        },
        filebrowserUploadUrl: '/uploader',
        //記得加下面那行  filebrowserUploadMethod: 'form'
        filebrowserUploadMethod: 'form',
        removePlugins: 'resize'
    });
    let testarray = [];
    let addNewTest = function () {
        let TestInputList = document.getElementById('TestInputList');
        //console.log(TestInputList);

        let exitTestNumber = testarray.length; //現在裡面有幾個側資
        testarray.push(exitTestNumber + 1);
        let card = document.createElement('div');
        card.className = "card";
        card.style.cssText = "margin-top:1rem";
        card.id = "test" + parseInt(exitTestNumber + 1);
        card.innerHTML = `
        <h5 class="card-header">測資
            <button type="button" class="close" onclick = "deleteTest(${exitTestNumber+1})">
                <span aria-hidden="true">&times;</span>
            </button>    
        </h5>
        <div class="card-body" style="display: flex">
            <div style="flex: 1">
                <p>輸入：</p>
                <textarea style="width: 100%;height: 7rem;" id ="input${exitTestNumber+1}"></textarea>
            </div>
            <div style="flex: 1">
                <p>輸出：</p>
                <textarea style="width: 100%;height: 7rem;" id ="output${exitTestNumber+1}"></textarea>
            </div>
        </div>
        `
        TestInputList.appendChild(card)

        //console.log(testarray);
    }
    let deleteTest = function (id) {
        let test = document.getElementById('test' + id);
        test.style.cssText = "display:none"
        testarray[testarray.indexOf(id)] = ""
    }

    let saveQution = function () {
        for (let i = 0; i < testarray.length; i++) {
            if (testarray[i] == "") {
                testarray.splice(i, 1);
                i = i - 1
            }
        }
        let testData = []
        for (let i = 0; i < testarray.length; i++) {
            let input = document.getElementById("input" + testarray[i]).value;
            let output = document.getElementById("output" + testarray[i]).value;
            let data = {
                input: input,
                output: output
            }
            testData.push(data)
        }
        //console.log(testData);
        //console.log(CKEDITOR.instances.Detail.getData());
        let title = document.getElementById('title').value;
        let qution = {
            title: title,
            body: CKEDITOR.instances.Detail.getData(),
            testData: testData,
            tags:tagArray
        }
        $.ajax({
            url: '/coding/addQution',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(qution),
            dataType: 'json',
            success: function (response) {
                alert('新增成功');
                window.location = "/coding/createNewCodingQution"
            },
            error: function (err) {
                alert('錯誤訊息：' + err);
            }
        });


    }
</script>
<% include layout/footer %>