<% include layout/header %>
<style>
    .myinput {
        width: 32%;
        padding: .375rem .25rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        display: inline;
    }

    body {
        padding-bottom: 20px;
    }
    hr{
      margin-top:0px;
    }
    .centered {
        position: absolute;
        top: 7rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .clear {
        clear: left;
    }

    .p2 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-bottom: 1rem
    }

    .card:hover {
        box-shadow: 0px 0px 30px #686666;
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.01);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.01);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.01);
        transition: all 200ms ease-in;
        transform: scale(1.01);
    }

    .box {
        background: #ccc;
        position: relative;
        overflow: hidden;
        margin: 0px;
    }

    .box:after {
        padding-top: 56.25%;
        content: "";
        display: block;
    }

    .img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        max-width: 100%;
        margin: auto;
    }

    @media only screen and (max-width: 768px) {
        .submit {
            width: 100%
        }
    }
</style>
<h3>建立課程</h3>
<hr>
<div class="row">
    <div class="col-lg-9 col-sm-12">
        <form id="classinfoForm" method="POST" action="/class/CreateNewClass" enctype="multipart/form-data">
            <h5>課程名稱 <small style="color: red">*</small></h5>
            <%if(locals.title){%>
            <input type="text" class="form-control" name="title" id="title" placeholder="請輸入課程名稱" value="<%=title%>"
                style="margin-bottom: 10px;">
            <%}else{%>
            <input type="text" class="form-control" name="title" id="title" placeholder="請輸入課程名稱" style="margin-bottom: 10px;">
            <%}%>
            <h5>課程說明</h5>
            <div class="md-form" style="margin-bottom: 10px;">
                <!-- locals的功能等於typeof(xxx)就是有說定這個變數存不存在 -->
                <%if(locals.outline){%>
            <textarea type="text" id="outline" name="outline" class="md-textarea form-control" placeholder="請輸入課程說明，好的課程說明有益於學生更快瞭解課程主要教學內容！" rows="10"
                style="resize: none"><%=outline%></textarea>
            <%}else{%>
            <textarea type="text" id="outline" name="outline" class="md-textarea form-control" placeholder="請輸入課程說明，好的課程說明有益於學生更快瞭解課程主要教學內容！" rows="10"
                style="resize: none"></textarea>
            <%}%>
            </div>
            <h5>課程學分數</h5>
            <%if(locals.credit){%>
            <input type="number" value="<%=credit%>" class="form-control" name="credit" min="0" value="0"
                style="margin-bottom: 10px;">
            <%}else{%>
            <input type="number" class="form-control" name="credit" min="0" value="0" style="margin-bottom: 10px;">
            <%}%>
            <h5>上課教室</h5>
            <%if(locals.classroom){%>
            <input type="text" value="<%=classroom%>" class="form-control" name="classroom"
                style="margin-bottom: 10px;">
            <%}else{%>
            <input type="text" class="form-control" name="classroom" style="margin-bottom: 10px;">
            <%}%>
            <h5>上課時間</h5>
            <div id="selectedTime" style="margin-bottom: 10px;">
                您還未選取上課時間
            </div>
            <div class="row mb-2">
                <div class="col-lg-10 col-sm-12 mb-4" style="justify-content: space-between;height: 2.5rem;">
                    <select name="YourLocation" class="myinput h-100" id="weekdaySelector">
                        　<option value="星期一">星期一</option>
                        　<option value="星期二">星期二</option>
                        　<option value="星期三">星期三</option>
                        　<option value="星期四">星期四</option>
                        　<option value="星期五">星期五</option>
                        　<option value="星期六">星期六</option>
                        　<option value="星期日">星期日</option>
                    </select>
                    <input class="myinput h-100" type="time" value="09:10" id="beginTime">
                    <input class="myinput h-100" type="time" value="10:00" id="endTime">
                </div>
                <div class="col-lg-2 col-sm-12 " style="height: 2.5rem">
                    <button type="button" class="btn btn-primary float-right h-100" style="width: 6rem" onclick="createNewClassTime()">新增</button>
                </div>
            </div>
            <h5>課程封面</h5>
            <div class="row container">
                <input id="classIMGinput" onchange="readURL(this);" type="file" class="form-control-file" name="classImg">
            </div>
            <input id="chooseClassTime" class="form-control" name='chooseClassTime' style="display: none"></input>
        </form>
    </div>
    <div class="col-lg-3 col-sm-12">
        <h5>預覽<small style="color: rgb(192, 189, 189)"> 此時課程尚未建立</small></h5>
        <!-- <div class="card mx-auto" style="width: 22rem;">

            <img class="card-img-top bg-light" style="height: 14rem">
            <div class="centered">
                <h4 id="imgTitle">預設封面</h4>
            </div>

            <div class="card-body">
                <h5 class="card-title" id="cardTitle">您的課程標題</h5>
                <p class="card-text" id="cardOutline">您的課程簡介</p>
                <a href="#" class="btn btn-primary">查看課程</a>
            </div>
        </div> -->
        <div class="card" style="width: 100%;">
            <div class="box">
                <img class="img w-100" id="previewIMG" src="/img/NoImage.png" style="border: 1px solid rgb(226, 226, 226);">
            </div>
            <div class="card-body" style="height: 13rem;border-top: 4px solid rgb(255, 160, 35)">
                <h5 class="card-title" id="cardTitle" style="height:24px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; ">

                </h5>
                <div class="card-text p2" id="cardOutline" style="height: 4.5rem">

                </div>
                <a href="#" class="btn btn-primary">查看課程</a>

            </div>
        </div>
    </div>
    <div class="col-lg-9 col-sm-12">
        <br>
        <input type="submit" form="classinfoForm" class="btn btn-primary float-right submit" style="width: 6rem" value="建立課程">
    </div>
</div>

<script>
    let title = document.getElementById('title');
    let cardTitle = document.getElementById('cardTitle');
    let imgTitle = document.getElementById('imgTitle');
    let outline = document.getElementById('outline');
    let cardOutline = document.getElementById('cardOutline');
    let table = document.getElementById('table');
    let tbody = document.getElementById('tbody');
    let chooseClassTimeLabel = document.getElementById('chooseClassTime');
    title.oninput = function () {
        cardTitle.innerHTML = title.value;
        imgTitle.innerHTML = title.value;
    }
    outline.oninput = function () {
        cardOutline.innerHTML = outline.value;
    }


    let chooseClassTime = [];

    function createNewClassTime() {
        let weekday = document.getElementById('weekdaySelector');
        let beginTime = document.getElementById('beginTime');
        let endTime = document.getElementById('endTime');
        let selectedTimeDiv = document.getElementById('selectedTime');
        selectedTimeDiv.innerHTML = '';
        let beginTimeText,endTimeText;
        if(parseInt(beginTime.value)<12){
            beginTimeText ="上午"+beginTime.value
        }else if(parseInt(beginTime.value)>=12){
            let h //時
            let m //分鐘
            h = parseInt(beginTime.value)-12;
            if(h<10){
                h = "0"+h
            }
            m =  beginTime.value.split(":")[1];
            beginTimeText ="下午"+h+":"+m
        }
        if(parseInt(endTime.value)<12){
            endTimeText ="上午"+endTime.value
        }else if(parseInt(endTime.value)>=12){
            let h //時
            let m //分鐘
            h = parseInt(endTime.value)-12;
            if(h<10){
                h = "0"+h
            }
            m =  endTime.value.split(":")[1];
            endTimeText ="下午"+h+":"+m
        }
        chooseClassTime.push(weekday.value + ' ' + beginTimeText+ '~' + endTimeText);
        //console.log(chooseClassTime);
        chooseClassTimeLabel.innerHTML = chooseClassTime
        chooseClassTimeLabel.value = chooseClassTime;
        for (let i = 0; i < chooseClassTime.length; i++) {
            let div = document.createElement('div');
            div.className = "alert alert-warning alert-dismissible fade show";
            div.role = "alert";
            div.innerHTML = chooseClassTime[i];
            let btn = document.createElement('button');
            btn.type = "button";
            btn.className = "close";
            btn.setAttribute("data-dismiss", "alert");
            btn.setAttribute("aria-label", "Close");
            btn.setAttribute('index', i);
            btn.setAttribute('onclick', "deleteChooseTime(this)");

            let span = document.createElement('span');
            span.setAttribute("aria-hidden", "true");
            span.innerHTML = "&times;";
            btn.appendChild(span);
            div.appendChild(btn);
            //清空

            selectedTimeDiv.appendChild(div);
        }
    }

    function deleteChooseTime(e) {
        chooseClassTime.pop(parseInt(e.getAttribute("index")));
        chooseClassTimeLabel.innerHTML = chooseClassTime
        chooseClassTimeLabel.value = chooseClassTime;
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#previewIMG')
                    .attr('src', e.target.result)
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<% include layout/footer %>
