<% include layout/navbar %>
<style>
    .mainimg{
        width:70%;
        height:65%;

    }
    .mix{
        width:50%;
        background:rgba(255,255,255,0.65);
        color:black;
        border-radius: 10px;
        padding:1rem 3rem;
    }
    .smallimg{
    transition: all 0.3s ease 0s;
    }
    .smallimg:hover {
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    }
    .carousel-inner{
        background:rgba(0,0,0,0.35);
    }
</style>

<main role="main">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide mx-auto d-block mainimg" src="https://images.unsplash.com/photo-1467320424268-f91a16cf7c77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="First slide">
            <div class="container">
              <div class="carousel-caption">
                <div class="mix mx-auto d-block">
                    <h1>預測學生學習成效</h1>
                    <h5>教師及學生可以知曉學生個人的學習狀態和未來分數</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide mx-auto d-block mainimg" src="https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <div class="mix mx-auto d-block">
                    <h1>學生可練習程式題</h1>
                    <h5>提供程式題和線上編譯器，讓學生可以更加便利地學習程式</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide mx-auto d-block mainimg" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Third slide">
            <div class="container">
              <div class="carousel-caption">
                <div class="mix mx-auto d-block">
                    <h1>教師及學生可共同討論</h1>
                    <h5>提供教師以及學生一個可共同討論議題的空間</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="container marketing">
        <div class="row" style="padding:2rem; 1rem;">
          <div class="col-lg-4">
            <img class="rounded-circle mx-auto d-block smallimg" src="https://image.flaticon.com/icons/svg/1306/1306311.svg" alt="Generic placeholder image" width="180" height="180">
            <h2 style="text-align:center;">預測學生成績</h2>
            <p>將學生在平臺上觀看教材、影片等的行為模式進行分析，進而預測出學生的學習成績，並給予學生學習建議來達到更好的學習成效，同時較師也可以查看學成效來改善教學方式。</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle mx-auto d-block smallimg" src="https://image.flaticon.com/icons/svg/1197/1197511.svg" alt="Generic placeholder image" width="180" height="180">
            <h2 style="text-align:center;">練習程式題目</h2>
            <p>提供程式題和線上編譯器，讓學生可以更加便利地學習程式</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle mx-auto d-block smallimg" src="https://image.flaticon.com/icons/svg/148/148992.svg" alt="Generic placeholder image" width="180" height="180">
            <h2 style="text-align:center;">邊學習邊筆記</h2>
            <p>筆記就在教材或是影片的旁邊 遇到重點就可以馬上記下來，還可儲存筆記以備之後瀏覽。</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <div class="row" style="padding:2rem; 1rem;">
          <div class="col-lg-4">
            <img class="rounded-circle  mx-auto d-block smallimg" src="https://image.flaticon.com/icons/svg/809/809470.svg" alt="Generic placeholder image" width="180" height="180">
            <h2 style="text-align:center;">互相討論議題</h2>
            <p>提供教師以及學生一個可共同討論議題的空間，針對不會的疑惑可提出疑問，想教導的也可提供想法與知識。</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle  mx-auto d-block smallimg" src="https://image.flaticon.com/icons/svg/858/858069.svg" alt="Generic placeholder image" width="180" height="180">
            <h2 style="text-align:center;">輕鬆管理課程</h2>
            <p>教師可新增助教為自己管理課程，教師可隨意調整權限。</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle  mx-auto d-block smallimg" src="https://image.flaticon.com/icons/svg/1055/1055662.svg" alt="Generic placeholder image" width="180" height="180">
            <h2 style="text-align:center;">管理課程單元</h2>
            <p>課程的每個單元中都有各自不同的教材、影片及測驗，上傳及管理都很簡單便利。</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>

    <footer class="container py-5">
        <div class="col-sm-12 text-center">
            <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
        </div>
    </footer>
</main>

<% include layout/footer %>
