<div id="messages">
    <% Object.keys(messages).forEach(function (type) { %>
    <% messages[type].forEach(function (message) { %>
    <div class="alert alert-<%=type%>">
        <%= message %>
    </div>

    <% }) %>

    <% }) %>
</div>