<% include layout/header %>
<style>
    @media only screen and (max-width: 768px) {
        .submit {
            width: 100%
        }
    }
</style>
<h3>
    註冊
</h3>
<form method="POST" action="/users/register" onsubmit="submitBTN.disabled=true ; return true;">
    <div id="remember_form">
        <div class="form-group">
            <label>姓名: <label style="color: red">*</label></label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>信箱: <label style="color: red">*</label></label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>帳號: <label style="color: red">*</label></label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label>密碼: <label style="color: red">*</label></label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label>確認密碼: <label style="color: red">*</label></label>
            <input type="password" class="form-control" name="password2">
        </div>
        <div class="form-group">
            <label style="margin-right: 10px">身份 <label style="color: red">*</label></label>
            <label>學生</label>
            <input type="checkbox" id="student" name="student">
            
            <label>教師</label>
            <input type="checkbox" id="teacher" name="teacher" disabled>
           
        </div>
        <div id="hide" style="display: none">
            <div class="form-group">
                <label>學校名稱:</label>
                <select  class="form-control" onchange="fetchDepartmentData()" name="schoolname" id = "schoolname">
                </select>
            </div>
            <div class="form-group">
                <label>科系:</label>
                <select  class="form-control" name="department" id = "department">
                </select>
            </div>
            <div class="form-group">
                <label>學號:</label>
                <input type="text" class="form-control" name="studentid">
            </div>
        </div>
        <input type="submit" id="submit" name="submitBTN" class="btn btn-primary submit" value="註冊">
    </div>
</form>

<script>
    var studentCheckbox = document.getElementById('student');
    var teacherCheckbox = document.getElementById('teacher');
    var hideForm = document.getElementById('hide');
    let submit = document.getElementById('submit');

    studentCheckbox.onclick = function () {
        //console.log(studentCheckbox.checked);
        submit.disabled = false;
        if (studentCheckbox.checked) {
            teacherCheckbox.checked = false;
            hideForm.style.display = "block";
        } else {
            if (!teacherCheckbox.checked) {
                studentCheckbox.checked = true
            }
        }
    }
    teacherCheckbox.onclick = function () {
        //console.log(teacherCheckbox.checked);
        submit.disabled = false;
        if (teacherCheckbox.checked) {
            studentCheckbox.checked = false;
            hideForm.style.display = "none";
        } else {
            if (!studentCheckbox.checked) {
                teacherCheckbox.checked = true
            }
        }
    }

    window.onload = function(){
        teacherCheckbox.checked = false;
        studentCheckbox.checked = false;
        submit.disabled = true;

        //get 學校資料
        let schoolnameSelector = document.getElementById('schoolname');
        fetch('/api/getSchools')
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            let schools = data.schoolArray;
            schoolnameSelector.innerHTML = ""
            schools.forEach(schoolName => {
                schoolnameSelector.innerHTML += `
                <option value="${schoolName}">${schoolName}</option>
                `
            });
            fetchDepartmentData();
        });
    }

    function fetchDepartmentData(){
        let schoolName = document.getElementById('schoolname').value
        let departmentSelector = document.getElementById('department');
        //get 學校系所
        fetch('/api/getDepartments/'+schoolName)
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            let departments = data.departments;
            departmentSelector.innerHTML = "";
            departments.forEach(departmentName => {
                departmentSelector.innerHTML += `
                <option value="${departmentName}">${departmentName}</option>
                `
            });
        });
    }
</script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/sisyphus.js/1.1.3/sisyphus.min.js'></script>
<!--執行程式碼-->
<script>
    $("#remember_form").sisyphus();

</script>
<% include layout/footer %>
