<% include layout/header %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<style>
    .renewDiv{
        margin-bottom: 2rem;
        padding: 20px;
        border-radius:20px;
        background-color:rgb(255, 255, 255);
        border: 1px solid rgb(194, 190, 190);
        width:50%;
    }
    @media screen and (max-width: 400px) {
      .renewDiv{
          margin-bottom: 2rem;
          padding: 20px;
          border-radius:20px;
          background-color:rgb(255, 255, 255);
          border: 1px solid rgb(194, 190, 190);
          width:100%;
      }
    }
</style>
<div class=" renewDiv m-auto" style="position:relative">
  <h3 class="title">
    身分認證
  </h3>
  <br>
  <div id="Confirmidentity">
    <div class="form-group">
      <label>帳號:</label>
      <input type="text" class="form-control" placeholder="請輸入帳號" name="username">
    </div>
    <div class="form-group">
        <label>信箱:</label>
        <input type="text" class="form-control" placeholder="請輸入信箱" name="email">
    </div>
    <div class="form-group alert p-0">
    </div>
    <div style="display: flex;justify-content: space-between">
        <button class="btn btn-info"  onclick="relogin(0)">返回登入</button>
        <button class="btn btn-primary" onclick="relogindetermine()">繼續</button>
    </div>
    <div class="modal fade" id="messageapprize" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">身分認證成功</h5>
          </div>
          <div class="modal-body">
            <p>請至信箱確認郵件。<br>若等待至<font color="red"><b>三分鐘</b></font>都未收到信件，<br>請<font color="red"><b>重新執行身分認證</b></font>之流程。</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="relogin(1)">確定</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  let relogin = function(e){
    let relogin = e;
    window.location = "/users/login/renewpassword/"+relogin;
  }
  let relogindetermine = function(){
      let usnamevalue = document.getElementsByName("username")[0].value;
      let emailvalue = document.getElementsByName("email")[0].value;
      $(".form-group.alert").empty();
      if(usnamevalue == ""){
        $(".form-group.alert").append(`<p class="m-0" style="color:red"><i class="fas fa-exclamation-triangle" style="color:red"></i>未填寫帳號</p>`)
      }
      if(emailvalue == ""){
        $(".form-group.alert").append(`<p class="m-0" style="color:red"><i class="fas fa-exclamation-triangle" style="color:red"></i>未填寫信箱</p>`)
      }
      $.ajax({
        type: "GET",
        url: "/users/renewconfirm/" + usnamevalue + "/" + emailvalue + "",
        dataType: "text",
        success: function (response) {
          console.log(response);
          if(response == "false"){
            $(".form-group.alert").append(`<p class="m-0" style="color:red"><i class="fas fa-exclamation-triangle" style="color:red"></i>帳號或信箱輸入錯誤</p>`)
          }else{
            $('#messageapprize').modal('show');
          }
        }
      })
  }

</script>

<% include layout/footer %>
