<% include layout/header %>
    <style media="screen">
      .space {
          display: flex;
          margin-bottom: 1rem
      }
      pre{
        font-size:1rem;
      }
    </style>
    <script>
        var units = <%- JSON.stringify(units) %>;
        var tests = <%- JSON.stringify(tests) %>;
        //console.log(tests);
    </script>

        <h3>學習狀況</h3>
        <hr>

    <div class="row">
        <!-- 左邊的匡 -->
        <div class="col-lg-3 col-sm-12">
            <div class="row">
                <div class="dropdown w-100">
                    <div class="space">
                        <label class="col-sm-4 col-form-label">選擇單元</label>
                        <div class="col-sm-8">
                            <select id="selectUnit" class="form-control" onchange="onchangeUnit(this.value)">

                            </select>
                        </div>
                    </div>
                    <div class="space">
                        <label class="col-sm-4 col-form-label">選擇測驗</label>
                        <div class="col-sm-8">
                            <select id="selectQuiz" class="form-control" onchange="onchangeQuiz(this.value)">

                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 右邊的匡 -->
        <div class="col-lg-9 col-sm-12" id='rightbox'>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-showGrade" data-toggle="tab" href="#showGrade" role="tab" aria-controls="nav-home" aria-selected="true">測驗成績</a>
                    <a class="nav-item nav-link" id="nav-showPercent" data-toggle="tab" href="#showPercent" role="tab" aria-controls="nav-profile" aria-selected="false">測驗情況</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent" style="overflow: hidden;">
                <div class="tab-pane fade show active" id="showGrade" role="tabpanel" aria-labelledby="nav-home-tab">
                    <ul class="nav justify-content-center nav-fill" style="margin-top:8px;">
                        <li class="nav-item">
                          <a class="nav-link">姓名</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link">學號</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link">成績</a>
                        </li>
                    </ul>
                    <hr style="margin-top:0px;">
                    <div id="currentGrade">

                    </div>
                </div>
                <div class="tab-pane fade" id="showPercent" role="tabpanel" aria-labelledby="nav-profile-tab">

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script  type="text/javascript">
        let allSubmits = <%-JSON.stringify(submits)%>  //全部的作答紀錄
        let submiter = <%-JSON.stringify(submiter)%>
        let nowUnit;
        let nowQuiz;
        let predata = [];
        console.log(allSubmits);
        console.log(submiter);
        google.charts.load('current', {'packages':['corechart'],'language':'zh-cn'});
        window.onload = function () {
            let i;
            for (i=0; i<units.length; i++){
                if(i == 0){
                    nowUnit=units[i]._id;
                }
                selectUnit.options[i]=new Option(units[i].unitName,units[i]._id);
            }
            selectQuiz.length=0;
            let testLength=0;
            for (i=0; i<tests.length; i++){
                if(tests[i].belongUnit == nowUnit){
                    if(testLength == 0) nowQuiz=tests[i]._id;
                    selectQuiz.options[testLength++]=new Option(tests[i].testName,tests[i]._id);
                }
            }
            selectQuiz.length=testLength;
            onchangeQuiz(nowQuiz);
        }

        let onchangeUnit = function(unitId){
            let i;
            nowUnit=unitId;
            selectQuiz.length=0;
            let testLength=0;
            for (i=0; i<tests.length; i++){
                if(tests[i].belongUnit == nowUnit){
                    if(testLength == 0) nowQuiz=tests[i]._id;
                    selectQuiz.options[testLength++]=new Option(tests[i].testName,tests[i]._id);	// 設定新選項
                }
            }
            onchangeQuiz(nowQuiz);
            selectQuiz.length=testLength;	// 刪除多餘的選項
        }

        let onchangeQuiz = function(quizId){
            nowQuiz = quizId;
            let isSubmited = 0;
            let nowQuizAllReply = [];   //此次測驗的所有回答
            for (i=0; i<allSubmits.length; i++){
                if(allSubmits[i].testID == nowQuiz){
                    nowQuizAllReply.push(allSubmits[i]);
                    isSubmited++;
                }
            }
            let testInUnit = 0;
            for(let i = 0;i<allSubmits.length;i++){
                if(allSubmits[i].belongUnit == nowUnit){
                    testInUnit++;
                }
            }
            //console.log(allSubmits.length);
            
            if(testInUnit ==0){
                let rightbox = document.getElementById('showPercent');
                rightbox.innerHTML='';
                let alertDiv = document.createElement('div');
                alertDiv.innerHTML='此單元尚未建立測驗';
                alertDiv.style='text-align:center; margin-top:10px;';
                alertDiv.className='col-sm-12 alert alert-danger';
                rightbox.appendChild(alertDiv);
                let currentGrade = document.getElementById('currentGrade');
                currentGrade.innerHTML = '';
                let alert = document.createElement('div');
                alert.innerHTML = '此單元尚未建立測驗';
                alert.style = 'text-align:center; margin-top:10px;';
                alert.className = 'col-sm-12 alert alert-danger';
                currentGrade.appendChild(alert);
            }else if(isSubmited == 0){
              let rightbox = document.getElementById('showPercent');
              rightbox.innerHTML='';
              let alertDiv = document.createElement('div');
              alertDiv.innerHTML='尚未有學生填寫此測驗';
              alertDiv.style='text-align:center; margin-top:10px;';
              alertDiv.className='col-sm-12 alert alert-danger';
              rightbox.appendChild(alertDiv);
              let currentGrade = document.getElementById('currentGrade');
              currentGrade.innerHTML = '';
              let alert = document.createElement('div');
              alert.innerHTML = '尚未有學生填寫此測驗';
              alert.style = 'text-align:center; margin-top:10px;';
              alert.className = 'col-sm-12 alert alert-danger';
              currentGrade.appendChild(alert);
            }else{
                showGrade();
                showPercent(nowQuizAllReply);  //顯示資料
            }
            isSubmited = 0;
        }

        let showGrade = function(){
            let currentGradeDiv = document.getElementById('currentGrade');
            let isSubmited = 0;
            let bightml = '';
            for (i = 0; i < allSubmits.length; i++) {
                if ((allSubmits[i].testID == nowQuiz)) {
                    let studentName;
                    let studentID;
                    let j;
                    for(j=0;j<submiter.length;j++){
                        if(allSubmits[i].writer == submiter[j]._id){
                            studentID = submiter[j].studentid;
                            studentName = submiter[j].name;
                            break;  //加快速度
                        }
                    }
                    let html =
                        `
                          <div class="grade" id="grade${isSubmited}">
                              <ul class="nav nav-pills nav-justified" style="margin-top:8px;">
                                  <li class="nav-item">
                                    <a class="nav-link">${studentName}</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link">${studentID}</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link">${allSubmits[i].obtainscore}</a>
                                  </li>
                              </ul>
                          </div> `
                    isSubmited++;
                    bightml += html;
                }

            }
            currentGrade.innerHTML = bightml;
            isSubmited = 0;
        }

        let showPercent = function (allReply) {
            let i,j;
            let question = [];
            //let predata = [];
            let rightbox = document.getElementById('showPercent');
            rightbox.innerHTML = '';
            let bightml = '';
            for (i=0; i<tests.length; i++){
                if(nowQuiz == tests[i]._id){
                  question = tests[i].testQutions;  //題型
                }
            }

            for(i=0;i<question.length;i++){
                let newDiv = document.createElement('div');
                newDiv.id = 'box'+i;
                newDiv.style.cssText = 'display:inline-block;';
                newDiv.innerHTML = '';
                rightbox.appendChild(newDiv);
            }


            for(i=0;i<question.length;i++){
                let questionName = question[i].qutionName;
                if(question[i].type == '選擇題'){
                    let selection = question[i].selection;
                    let correctAnswers = question[i].correctAnswers;
                    let studentAnswers = [];
                    for(j=0;j<selection.length;j++){
                        studentAnswers.push(parseInt(0));
                    }
                    for(j=0;j<allReply.length;j++){
                        let k;
                        for(k=0;k<selection.length;k++){

                          if(parseInt(allReply[j].testQutionsAndAnswer[i].studentAnswer[k])==1)
                              studentAnswers[k] += 1;
                              //studentAnswers[k] += parseInt(allReply[j].testQutionsAndAnswer[i].studentAnswer[k]);
                        }
                    }
                    predata.length=0;
                    for(j=0;j<selection.length;j++){
                        predata.push([selection[j],studentAnswers[j]]);
                    }
                    
                    google.charts.load('current', {'packages':['corechart'],'language':'zh-cn'});    //load goole.chart
                    google.charts.setOnLoadCallback(drawChart(i));
                    function drawChart(i) {
                      let data = new google.visualization.DataTable();
                      data.addColumn('string', 'choose');
                      data.addColumn('number', 'percent');
                      data.addRows(predata);
                      let options = {'title':questionName+'(選擇題)',
                                     'width':400,
                                     'height':300,
                                     'fontSize':14,
                                     'sliceVisibilityThreshold':0};
                      let chart = new google.visualization.PieChart(document.getElementById('box'+i));
                      chart.draw(data, options);
                    }
                }
                if(question[i].type == '是非題') {
                    let isTure=0;
                    let isFalse=0;
                    let correctAnswers = question[i].correctAnswers;
                    for(j=0;j<allReply.length;j++){
                        if(allReply[j].testQutionsAndAnswer[i].studentAnswer=='yes'){
                            isTure += 1;
                        }else {
                            isFalse += 1;
                        }
                    }
                    predata.length=0;
                    predata.push(['是',isTure]);
                    predata.push(['否',isFalse]);
                    google.charts.load('current', {'packages':['corechart'],'language':'zh-cn'});    //load goole.chart
                    google.charts.setOnLoadCallback(drawChart(i));
                    function drawChart(i) {
                      let data = new google.visualization.DataTable();
                      data.addColumn('string', 'choose');
                      data.addColumn('number', 'percent');
                      data.addRows(predata);
                      let options = {'title':questionName+'(是非題)',
                                     'width':400,
                                     'height':300,
                                     'fontSize':14,
                                     'sliceVisibilityThreshold':0};
                      let chart = new google.visualization.PieChart(document.getElementById('box'+i));
                      chart.draw(data, options);
                    }
                    isTure=0;
                    isFalse=0;
                }
                if(question[i].type == '填空題') {
                    let isCorrect=0;
                    let isError=0;
                    let correctAnswers = question[i].correctAnswers;
                    for(j=0;j<allReply.length;j++){
                        if(allReply[j].testQutionsAndAnswer[i].isCorrect==true){
                            isCorrect += 1;
                        }else {
                            isError += 1;
                        }
                    }
                    predata.length=0;
                    predata.push(['對',isCorrect]);
                    predata.push(['錯',isError]);
                    google.charts.load('current', {'packages':['corechart'],'language':'zh-cn'});    //load goole.chart
                    google.charts.setOnLoadCallback(drawChart(i));
                    function drawChart(i) {
                      let data = new google.visualization.DataTable();
                      data.addColumn('string', 'choose');
                      data.addColumn('number', 'percent');
                      data.addRows(predata);
                      let options = {'title':questionName+'(填空題)',
                                     'width':400,
                                     'height':300,
                                     'fontSize':14,
                                     'sliceVisibilityThreshold':0};
                      let chart = new google.visualization.PieChart(document.getElementById('box'+i));
                      chart.draw(data, options);
                    }
                    isCorrect=0;
                    isError=0;
                }
                if(question[i].type == '程式題') {
                    let isCorrect=0;
                    let isError=0;
                    let correctAnswers = question[i].correctAnswers;
                    for(j=0;j<allReply.length;j++){
                        if(allReply[j].testQutionsAndAnswer[i].isCorrect==true){
                            isCorrect += 1;
                        }else {
                            isError += 1;
                        }
                    }
                    predata.length=0;
                    predata.push(['對',isCorrect]);
                    predata.push(['錯',isError]);
                    google.charts.load('current', {'packages':['corechart'],'language':'zh-cn'});    //load goole.chart
                    google.charts.setOnLoadCallback(drawChart(i));
                    function drawChart(i) {
                      let data = new google.visualization.DataTable();
                      data.addColumn('string', 'choose');
                      data.addColumn('number', 'percent');
                      data.addRows(predata);
                      let options = {'title':questionName+'(程式題)',
                                     'width':400,
                                     'height':300,
                                     'fontSize':14,
                                     'sliceVisibilityThreshold':0};
                      let chart = new google.visualization.PieChart(document.getElementById('box'+i));
                      chart.draw(data, options);
                    }
                    isCorrect=0;
                    isError=0;
                }
            }
        }

    </script>

<% include layout/footer %>
