<% include layout/header %>
<form>
    <div class="form-group">
        <label>題目</label>
        <input type="text" class="form-control" placeholder="請輸入題目">
    </div>
    <div class="form-group">
        <label>題目說明</label>
        <div class="md-form">
            <textarea id="form7" class="md-textarea form-control" rows="4"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>範例輸入</label>
                <div class="md-form">
                    <textarea id="form7" class="md-textarea form-control" rows="4"></textarea>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>範例輸出</label>
                <div class="md-form">
                    <textarea id="form7" class="md-textarea form-control" rows="4"></textarea>
                </div>
            </div>
        </div>

    </div>
    <div class="form-group">
        <label>題目網址</label>
        <input type="text" class="form-control" placeholder="請輸入題目網址">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<% include layout/footer %>