/*main*/
.centerLost{
  background-color: #DEDEDE;
}

/*left*/
#helperBtn{
  width: 100px;
  height: 100px;
  background-image: url("../../img/helper.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  border-width: 0px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}
#helperView{
  z-index: 5;
  height: 85%;
  width: 90%;
  position: absolute;
  bottom: 10%;
  left: 5%;
  background-color: #FFF2CC;
  box-shadow: 0px 0px 7px 10px rgba(255, 255, 255, 0.68);
  overflow: auto;
}
#helperBkView{
  z-index: 3;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.74);
}
#helperTextarea1{
  height: 50%;
  width: 40%;
  font-size: 1.5vw;
  font-family:Microsoft JhengHei;
  line-height: 2vw;
  text-align: left;
  background-color: transparent;
  position: absolute;
  top: 15%;
  left: 5%;
}
#helperTextarea2{
  height: 25%;
  width: 90%;
  font-size: 1.5vw;
  font-family:Microsoft JhengHei;
  line-height: 2vw;
  text-align: left;
  background-color: transparent;
  position: absolute;
  top: 70%;
  left: 5%;
  padding-bottom: 12vh;
}
#helperTextarea3{
  height: 80%;
  width: 80%;
  font-size: 1.5vw;
  font-family:Microsoft JhengHei;
  line-height: 2vw;
  text-align: left;
  background-color: transparent;
  position: absolute;
  left: 10%;
  margin-top: 2vh;
}
#helperImgDiv1,#helperImgDiv2{
  height: 18vh;
  width: 45%;
  position: absolute;
  right: 5%;
}
#helperImgDiv1{
  top: 15%;
}
#helperImgDiv2{
  top: 43%;
}
.helperImg{
  height: 100%;
  width: auto;
}

/*left*/
#userDataBkView{
  z-index: 3;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.74);
}
#userDataView{
  z-index: 4;
  height: 58%;
  width: 35%;
  position: absolute;
  top: 21%;
  left: 32.5%;
  background-color: #FFC777;
  border-style: solid;
  border-color: white;
  border-width: 3px;
}
#clossDiv{
  width: 30px;
  height: 30px;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-color: rgb(0, 0, 0);
  border-width: 0px;
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;
}
#allTitle,#userTitle{
  margin-top: 20px;
  height: 5vh;
  color: #7C5A43;
  letter-spacing: 1vw;
  font-size: calc(10px + 2vw);
  font-weight: bold;
  font-family: "Microsoft JhengHei";
  border-style: solid;
  border-color: #7C5A43;
  border-width: 0px 0px 2px 0px;
}
#userInnerDiv{
  width: 80%;
  height: 70%;
  font-family: "Microsoft JhengHei";
  position: absolute;
  top: 15%;
  left: 10%;
  background-color: #FFF2CC;
  border-style: solid;
  border-color:#D6B656;
  overflow: auto;
}
#userH3Div{
  width: 90%;
  height: 90%;
  font-family: "Microsoft JhengHei";
  font-size: calc(1.6vh + 5px);
  position: absolute;
  top: 5%;
  left: 5%;
}
#userTable td{
  font-family: "Microsoft JhengHei";
  line-height: 6vh;
  text-align:center;
  text-align:justify;
  text-justify:distribute-all-lines;
  text-align-last:justify
}

/*提醒視窗*/
#lessRequirementView{
  z-index: 4;
  height: 30%;
  width: 30%;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  top: 35%;
  left: 35%;
  background-color: #D5E8D4;
  box-shadow: 0px 0px 7px 10px rgba(255, 255, 255, 0.68);
  overflow: auto;
}
#conditionH3Top{
  text-align: left;
  margin-left: 10%;
  margin-top: 5%;
}
#conditionH3Bottom{
  font-size: 3vh;
}
#lessRequirementInnerView{
  width: 10vw;
  position: absolute;
  left: 50%;
  margin-left: -5vw;
  margin-top: 2vh;
}
#conditionImg{
  height: 8vh;
  width: 8vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#conditionButton{
  height: 5vh;
  width: 8vw;
  font-size: calc(10px + 1vw);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: #CCFFCC;
  position: absolute;
  left: 50%;
  bottom: 2vh;
  margin-left: -4vw;
  cursor: pointer;
}

/*設置地圖屬性視窗*/
#settingMapDiv{
  z-index: 4;
  height: 80%;
  width: 80%;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: #D5E8D4;
  box-shadow: 0px 0px 7px 10px rgba(255, 255, 255, 0.68);
  overflow: auto;
}
#settingMapTitleBar{
  width: 100%;
  height: 10.5%;
  border-style:none;
  position: absolute;
  top: 0px;
  background-color: none;
}
#settingMapTitleBar font{
  position: absolute;
  margin-top: 20px;
  font-size: 8vh;
  top:40%;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
}
#settingMapDivCanvas{
  height: 60vh;
  width: 60vh;
  border-style:solid;
  background-color: white;
  position: absolute;
  top: 15vh;
  left: 2vw;
}
#innerSettingMapDiv{
  height: 60vh;
  width: 60vh;
  border-style:solid;
  border-width: 0px;
  background-color: none;
  position: absolute;
  top: 15vh;
  right: 2vw;
}
#S3 table{
  width: 80%;
  text-align: left;
  position: absolute;
  left: 10%;
}
#S3 td{
  padding-top: 8%;
}
#mapSize{
  width: 80%;
  height: 5vh;
  font-size: 3vh;
  background-color: #BBCCBA;
}
#mapDeploy{
  width: 80%;
  height: 5vh;
  font-size: 3vh;
  font-weight: bold;
  background-color: #BBCCBA;
}
#saveMap{
  height: 8vh;
  width: 10vw;
  font-size: 3vh;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: #CCFFFF;
  position: absolute;
  right: 2%;
  bottom: 2%;
  cursor: pointer;
}

/*creater*/
#titleBar{
  width: 100%;
  height: 10.5%;
  border-style:none;
  position: absolute;
  top: 0px;
  background-color: #AEC9EF;
}
#titleBar select{
  font-size: calc(10px + 1.5vh);
  width: 10vw;
}
.unUse{
  background-color: rgb(162, 162, 162);
}
#lostTitleTable{
  width: 90%;
  height: 8vh;
  position: absolute;
  left: 7%;
  top: 20%;
  font-size: 25px;
}
#td00{width: 20%;}
#td01{width: 15%;}
#td02{width: 5%;}
#td03{width: 15%;}
#td04{width: 5%;}
#td05{width: 40%;}
#divcanvas{
  height: 60vh;
  width: 60vh;
  border-style:solid;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 55%;
  margin-top: -30vh;
  min-width: 410px;
}
#functionSetting{
  height: 75vh;
  width: 60vh;
  border-style:solid;
  border-width: 0px;
  position: absolute;
  top: 50%;
  left: 55%;
  margin-top: -32.5vh;
  min-width: 410px;
}
#functionSetting input[type="button"]{
  height: 8vh;
  width: 10vw;
  font-size: calc(10px + 1.5vw);
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  border-color: black;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  min-width: 95px;
}
#saveBtn{
  background-image: url("../../img/saveBtn.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 2%;
  bottom: 2%;
  cursor: pointer;
}
#finishBtn{
  background-image: url("../../img/finishBtn.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 2%;
  bottom: 2%;
  cursor: pointer;
}
/*選擇地圖大小*/
#lostTitleTable select{
  height: calc(15px + 2vh);
  background-color: white;
  margin-left: 0;
}
/*物件角度*/
#lostTitleTable input[type="text"]{
  height: 25px;
  width: 50px;
  background-color: #CCFFFF;
  margin-left: 0px;
}
#lostTitleTable input[type="button"]{
  height: calc(15px + 2vh);
  width: 150px;
  font-size: calc(10px + 1.5vh);
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 0px;
  cursor: pointer;
}


/*- Menu Tabs F--------------------------- */
#tabsC{
	padding:0px;
	margin:0px;
	width:100%;
  height: 76%;
  background-color: #B8B8B8;
  margin-top: 8%;
	border-left: white 2px solid;
	border-right: white 2px solid;
	border-bottom: white 2px solid;
}
#tabsF{
	float:left;
	width:105%;
	margin:0;
	padding:0;
	font-size:13px;
	line-height:normal;
	border-left: white 0px solid;
	border-right: white 0px solid;
	border-bottom: white 0px solid ;
  margin-left: -10px;
}
#tabsF ul{
	margin-left: 5px;;
	padding:10px 10px 0px 6px;
	list-style:none;
}
#tabsF li{
	display:inline;
	margin:0;
	padding:0;
}
#tabsF #current a{
  background-position:0% -42px;
  border-bottom:1px solid #D6D6D6;
  color:#000;
}
#tabsF #current a span{
  background-position:3000% -42px;
  background-color: #959595;
  color:#000;
}
#tabsF #current span span{
  background-position:3000% -42px;
  background-color: #D6D6D6;
  border-bottom:1px solid #FFF;
  color:#000;
}
#tabsF a{
  font-weight: bold;
  font-size: 2vh;
	float:left;
  width: 24.5%;
	background:url("../../img/tableftF.gif") no-repeat left top;
	margin:0;
	text-decoration:none;
	border:1px solid white;
}
#tabsF a span{
	float:left;
	display:block;
	background:#CFCFCF no-repeat right top;
	padding:9px 15px 5px 6px;
	color:#666;
}
#tabsF span{
	float:left;
	background:url("../../img/tableftF.gif") no-repeat left top;
	margin:0;
	padding:4px 0 0 4px;
	text-decoration:none;
}
#tabsF span span{
	float:left;
	display:block;
	background:url("../../img/test000.png") no-repeat right top;
	padding:9px 15px 5px 6px;
	color:#666;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabsF a span {float:none;}
/* End IE5-Mac hack */
#tabsF a:hover span {
  color:#000;
}
#tabsF a:hover{
	/*
	background-position:0% -42px;
	*/
}
#tabsF a:hover span{
	/*
	background-position:100% -42px;
	*/
}

/*tabsC S1內容*/
#S1 table{
  font-size: 3vh;
  position: relative;
  margin-top: -3px;
  width: 100%;
  height: 100%;
}
#levelDescriptionTable #S1Td00,#levelDescriptionTable #S1Td10,#levelDescriptionTable #S1Td20{
  width: 30%;
}
#levelDescriptionTable #S1Td10,#levelDescriptionTable #S1Td20{
  vertical-align: top;
}
#levelDescriptionTable #S1Td01{
  width: 70%;
}
#levelDescriptionTable #S1Td01 input,#levelDescriptionTable #S1Td11 textarea,#levelDescriptionTable #S1Td21 textarea{
  width: 80%;
  font-size: 3vh;
  background-color: white;
  resize : none;
}
#levelDescriptionTable #S1Td11 textarea{
  height: 90%;
  resize : none;
}
#levelDescriptionTable #S1Td21 textarea{
  height: 20vh;
  resize : none;
}

/*S2內容*/
  /*敵人*/
  #enemyTable{
    font-size: 3vh;
    position: relative;
    width: 100%;
    height: 40%;
  }
  #enemyTable #S1Td00,#enemyTable #S1Td10{
    width: 30%;
  }
  #enemyTable #S1Td01,#enemyTable #S1Td11{
    width: 70%;
  }
  #enemyTable #S1Td01 input,#enemyTable #S1Td11 input{
    width: 80%;
    font-size: 3vh;
    text-align: center;
    height: auto;
    background-color: #BBCCBA;
    resize : none;
  }

  /*鎖頭*/
  #lockAnswerTable{
    font-size: 3vh;
    width: 100%;
    height: 100%;
  }
  #lockAnswerTable #S1Td00{
    width: 30%;
    vertical-align: top;
    padding-top: 8%;
  }
  #lockAnswerTable #S1Td01 textarea{
    width: 70%;
    height: 80%;
    font-size: 3vh;
    resize : none;
    background-color: #BBCCBA;
  }

  /*寶箱*/
  #boxTable{
    width: 100%;
    height: 100%;
    font-size: 3vh;
  }
  #boxTable #S1Td00{
    width: 30%;
    vertical-align: top;
    padding-top: 8%;
  }
  #boxTable #S1Td01 textarea{
    width: 70%;
    height: 80%;
    font-size: 3vh;
    resize : none;
    background-color: #BBCCBA;
  }

/*進階*/
#foggyTable{
  font-size: 3vh;
  position: relative;
  width: 100%;
  height: 100%;
}
#foggyTable #S1Td00{
  width: 30%;
  margin-left: 5vw;
}
#foggyTable #S1Td01,#foggyTable #S1Td02{
  width: 35%;
  font-size: 3vh;
}
#foggyTable input[type=checkbox] {
    zoom: 2;
}
#foggyTable input{
  vertical-align:middle;
  margin-bottom:2px;
  *margin-bottom:2px;
}
#codingFont{
  text-align:left;
  font-weight: bold;
  margin-right: 20vw;
}
#codingTextarea{
  height: 35vh;
  width: 25vw;
  font-size: 3vh;
  resize : none;
}


/*提醒介面*/
.oneLine{
  height: 20vh;
}
.oneLine > #remindH2{
  margin-top: 5vh;
}
.twoLine{
  height: 25vh;
}
.twoLine > #remindH2{
  line-height: 5vh;
  margin-top: 3vh;
}
.twoLine > #remindTrueBtn{
  bottom: 3.5vh;
}
#remindView{
  z-index: 999;
  width: 25vw;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15vh;
  margin-left: -12.5vw;
  background-color:  rgba(0, 0, 0, 0.74);
  color: white;
  min-width: 300px;
  overflow: auto;
}
#remindH2{
  font-size: calc(20px + 1vw);
}
#remindTrueBtn{
  height: 5vh;
  width: 8vw;
  font-size: calc(15px + 1vw);
  line-height: 2.5vh;
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  position: absolute;
  right: calc(50% - 4vw);
  bottom: 3vh;
  cursor: pointer;
}
.bkView{
  z-index: 996;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: rgba(149, 149, 149, 1);
}
@media(max-aspect-ratio:17/10){
  #settingAllView{
    z-index: 4;
    height: 27%;
    width: 38%;
    position: absolute;
    top: 35%;
    left: 31%;
    background-color: #FFC777;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    overflow: auto;
  }
  .centerLost{
    background-color: #AEC9EF;
    width: 80%;
    height: 100%;
    line-height: 90%;
    position: relative;
    min-width: 1000px;
  }
  #td01{width: 15%; font-size: 20px}
  #td02{width: 5%; font-size: 20px}
  #td03{width: 15%; font-size: 20px}
  #lostTitleTable input[type="button"]{
    height: calc(15px + 2vh);
    width: 110px;
    font-size: calc(7px + 1.5vh);
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 5px;
    cursor: pointer;
  }
  #titleBar select{
    font-size: calc(8px + 1.5vh);
    width: 12vw;
  }
  #divcanvas{
    height: 55vh;
    width: 55vh;
    border-style:solid;
    background-color: white;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -30vh;
    min-width: 410px;
  }
  #tabsC{
    padding:0px;
    margin:0px;
    width:84%;
    height: 72%;
    background-color: #B8B8B8;
    margin-top: 8%;
    border-left: white 2px solid;
    border-right: white 2px solid;
    border-bottom: white 2px solid;
  }
  #tabsF{
    float:left;
    width:89%;
    margin:0;
    padding:0;
    font-size:13px;
    line-height:normal;
    border-left: white 0px solid;
    border-right: white 0px solid;
    border-bottom: white 0px solid ;
    margin-left: -10px;
  }
  #finishBtn{
    background-image: url("../../img/finishBtn.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 18%;
    bottom: 2%;
    cursor: pointer;
  }
}
