/*main*/
* textarea{
  resize:none;
}
/*left*/
#helperBtn{
  width: 100px;
  height: 100px;
  background-image: url("../../img/helper.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  border-width: 0px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}
#helperView{
  z-index: 999;
  height: 85%;
  width: 90%;
  position: absolute;
  bottom: 10%;
  left: 5%;
  background-color: #FFF2CC;
  box-shadow: 0px 0px 7px 10px rgba(255, 255, 255, 0.68);
  overflow: auto;
}
#helperTextarea3{
  height: 80%;
  width: 80%;
  font-size: 1.5vw;
  font-family: Microsoft JhengHei;
  line-height: 2vw;
  text-align: left;
  background-color: transparent;
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.helperImg{
  height: 22%;
  width: 45%;
  background-color: white;
  position: absolute;
  right: 5%;
}
#helperImg0{
  top: 15%;
}
#helperImg1{
  top: 43%;
}

/*right*/
#userDataBkView{
  z-index: 3;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.74);
}
#userDataView{
  z-index: 4;
  height: 58%;
  width: 35%;
  position: absolute;
  top: 21%;
  left: 32.5%;
  background-color: #FFC777;
  border-style: solid;
  border-color: white;
  border-width: 3px;
}
#clossDiv{
  width: 30px;
  height: 30px;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-color: rgb(0, 0, 0);
  border-width: 0px;
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;
}
#allTitle,#userTitle,#settingTitle,#instructionTitle{
  margin-top: 20px;
  height: 5vh;
  color: #7C5A43;
  letter-spacing: 1vw;
  font-size: calc(10px + 2vw);
  font-weight: bold;
  font-family: "Microsoft JhengHei";
  border-style: solid;
  border-color: #7C5A43;
  border-width: 0px 0px 2px 0px;
}
#userInnerDiv{
  width: 80%;
  height: 70%;
  font-family: "Microsoft JhengHei";
  position: absolute;
  top: 15%;
  left: 10%;
  background-color: #FFF2CC;
  border-style: solid;
  border-color:#D6B656;
  overflow: auto;
}
#userH3Div{
  width: 90%;
  height: 90%;
  font-family: "Microsoft JhengHei";
  font-size: calc(1.6vh + 5px);
  position: absolute;
  top: 5%;
  left: 5%;
}
#userTable td{
  font-family: "Microsoft JhengHei";
  line-height: 6vh;
  text-align:center;
  text-align:justify;
  text-justify:distribute-all-lines;
  text-align-last:justify
}

/*center*/
#titleBar{
  width: 100%;
  height: 10.5%;
  border-style:none;
  position: absolute;
  top: 0px;
  background-color: #AEC9EF;
}
#titleBar font{
  font-size: calc(15px + 4vh);
  font-weight: 900;
  font-family: Microsoft JhengHei;
  letter-spacing: 1vw;
  position: absolute;
  top:40%;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
}
#divcanvas{
  height: 88.8%;
  width: 49.7%;
  border-style:solid;
  background-color: none;
  position: absolute;
  top: 10.5%;
  right: 0%;
}
#blocklyDiv{
  height: 88.8%;
  width: 49.7%;
  border-style:solid;
  z-index: 1;
  background-color: white;
  position: absolute;
  top: 10.5%;
  left: 0%;
}
#defaultCanvas{
  height: 70%;
  width: 48%;
}
#textareaBk{
  width: 30%;
  height: 50%;
  z-index: 3;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  position: absolute;
  top: 25%;
  right: 35%;
}
#textareaBk h1{
  margin-top: 10px;
}
#funcDiv{
  z-index: 2;
  width: 22%;
  height: 100%;
  font-size: 25px;
  color: white;
  line-height: 24px;
  background-color: rgb(117, 117, 117);
  position: absolute;
  left: 0px;
  overflow-y: auto;
}
.func,.moveforward,.judgment,.titleDiv{
  margin-top: 5px;
  font-size: calc(6px + 0.5vw);
  padding: 1vh;
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 2px 0px;
}
.func div,.moveforward div,.judgment div{
  cursor: pointer;
}
#textareaDiv{
  width: 78%;
  height: 98%;
  position: absolute;
  right: 0px;
}
#textarea_0 {
 width:100%;/*自动适应父布局宽度*/
 height: 100%;
 overflow:auto;
 word-break:break-all;
/*在ie中解决断行问题(防止自动变为在一行显示，主要解决ie兼容问题，ie8中当设宽度为100%时，文本域类容超过一行时，
当我们双击文本内容就会自动变为一行显示，所以只能用ie的专有断行属性“word-break或word-wrap”控制其断行)*/
}
#textarea_1{
  width: 100%;
  height: 100%;
  display: none;
}

/*gameView*/
#createEndBkView{
  z-index: 998;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.74);
}
#createEndView{
  z-index: 999;
  height: 40vh;
  width: 20vw;
  font-family: Microsoft JhengHei;
  border-radius: 30px;
  background-color: #FFC777;
  box-shadow: 0px 0px 7px 10px rgba(255, 255, 255, 0.68);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -17.5vh;
  margin-left: -10vw;
  overflow: auto;
}
#endViewTitle{
  font-size: 7vh;
  color: #7C5A43;
  text-align: center;
  font-family: Microsoft JhengHei;
  font-weight: 100;
  margin-top: 5vh;
  margin-bottom: 4vh;
}
.starImg{
  margin: 5vh auto;
  height: 8vh;
  width: 8vh;
  border: 0px;
  background: transparent;
  content:url('../../img/levelStar.png');
  background-size: 100% 100%;
}
.unStarImg{
  margin: 5vh auto;
  height: 8vh;
  width: 8vh;
  border: 0px;
  background: transparent;
  content:url('../../img/levelStarNull.png');
  background-size: 100% 100%;
}
#instructionH3{
  margin-top: 10vh;
}
#restartGameBtn{
  height: 6vh;
  width: 8vw;
  font-size: calc(5px + 1.5vw);
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  left: 3%;
  bottom: 3%;
  cursor: pointer;
}
#errTextarea{
  height: 9vh;
  width: 80%;
  font-size: calc(6px + 0.5vw);
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  left: 50%;
  bottom: 13vh;
  transform: translate(-50%,0);
}
.failBackBtn{
  height: 6vh;
  width: 8vw;
  font-size: calc(5px + 1.5vw);
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}
.successBackBtn{
  height: 6vh;
  width: 8vw;
  font-size: calc(5px + 1.5vw);
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  left: 50%;
  bottom: 3%;
  margin-left: -4vw;
  cursor: pointer;
}
#textButtonDiv{
  height: 80%;
  width: 10vh;;
  z-index: 1;
  background-color: none;
  position: absolute;
  top: 1%;
  right: 1%;
}
#textButtonDiv .runButton{
  width: 9vh;
  height: 9vh;
  border: 0px;
  background-image: url('../../img/start.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  position: absolute;
  top: 0%;
  right: 0px;
  cursor: pointer;
}
#textButtonDiv .clearButton{
  width: 9vh;
  height: 9vh;
  border: 0px;
  background-image: url('../../img/clearButton.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  position: absolute;
  top: 11%;
  right: 0px;
  cursor: pointer;
}
#textButtonDiv .restartButton{
  width: 9vh;
  height: 9vh;
  border: 0px;
  background-image: url('../../img/RestartButton.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  position: absolute;
  top: 22%;
  right: 0px;
  cursor: pointer;
}
#textButtonDiv .settingButton{
  width: 9vh;
  height: 9vh;
  border: 0px;
  background-image: url('../../img/SettingButton.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  position: absolute;
  top: 33%;
  right: 0px;
  cursor: pointer;
}

/*指令大全*/
.instructionButton{
  width: 1.5vw;
  height: 1.5vw;
  font-family: 'DFT_PJ7';
  border-width: 0px;
  background-image: url('../../img/instruction.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  margin-right: 5px;
  position: absolute;
  top: 2vh;
  right: 0px;
  cursor: pointer;
}
#instructionView{
  z-index: 4;
  height: 60vh;
  width: 40vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30vh;
  margin-left: -20vw;
  background-color: #FFC777;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  overflow: auto;
}
#instructionTable{
  width: 100%;
  font-family: Microsoft JhengHei;
  position: relative;
  border: 0px;
  margin-top: 0%;
}
#instructionTable td{
  border-width: 0px;
}
#actionFont0,#actionFont2,#actionFont4,#actionFont6,#actionFont8{
  height: 20px;
  margin-top: 1.5vh;
  margin-bottom: 5px;
}

.summaryInner::-webkit-details-marker {
  height: 2vh;
  width: 2vh;
}
.summaryInner{
  font-size: calc(15px + 1vw);
  line-height: 5vh;
  outline:none;
  cursor: pointer;
}
.itemP{
  margin-top: 1.5vh;
  font-family: Microsoft JhengHei;
  line-height: calc(5px + 2vh);
}
/*設定*/
#settingAllView{
  z-index: 999;
  height: 50%;
  width: 70%;
  position: absolute;
  top: 25%;
  left: 15%;
  background-color: #FFF2CC;
  box-shadow: 0px 0px 7px 10px rgba(255, 255, 255, 0.68);
  overflow: auto;
}
#settingAllTable{
  width: 100%;
  position: relative;
  top: 20%;
  border: 1px;
}
#settingMusic,#musicVolume,#settingSpeed{
  margin-top: 5px;
  margin-bottom: 5px;
  font-family:Microsoft JhengHei;
}
#musicOpen,#musicClose,#speedLow,#speedMid,#speedQuick{
  margin-right: 5px;
}
#openText,#speedLowText,#speedMidText{
  margin-right: 10px;
  font-family:Microsoft JhengHei;
}
#volumeButtonSub{
  height: 20px;
  width: 20px;
  border-color: black;
  border-width: 1px;
  background-color: #FFD966;
  margin: 5px auto;
  cursor: pointer;
}
#musicVolumeDiv{
  height: 50px;
  width: 200px;
  margin: 5px auto;
}
#settingAllTable input[type = "radio"]{
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
#settingAllTable font{
  font-size: calc(5px + 1vw);
  line-height: 0px;　
  margin-top: -5px;
}
.musicVolumeInnerDivDefault{
  height: 40px;
  width: calc(5px + 0.5vw);
  border-style:solid;
  border-width: 1px;
  margin-right: 2px;
  margin-left: 3px;
  margin-top: 10px;
}
.musicVolumeInnerDiv{
  width: calc(5px + 0.5vw);
  border-style:solid;
  border-width: 1px;
  margin-right: 2px;
  margin-left: 3px;
  background-color: red;
}
#musicVolumeInnerDiv0{
  height: 4px;
  margin-top: 36px;
}
#musicVolumeInnerDiv1{
  height: 8px;
  margin-top: 32px;
}
#musicVolumeInnerDiv2{
  height: 12px;
  margin-top: 28px;
}
#musicVolumeInnerDiv3{
  height: 16px;
  margin-top: 24px;
}
#musicVolumeInnerDiv4{
  height: 20px;
  margin-top: 20px;
}
#musicVolumeInnerDiv5{
  height: 24px;
  margin-top: 16px;
}
#musicVolumeInnerDiv6{
  height: 28px;
  margin-top: 12px;
}
#musicVolumeInnerDiv7{
  height: 32px;
  margin-top: 8px;
}
#musicVolumeInnerDiv8{
  height: 36px;
  margin-top: 4px;
}
#musicVolumeInnerDiv9{
  height: 40px;
  margin-top: 0px;
}

/*loading*/
#loadingBkView{
  z-index: 998;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.37);
}
.loadEffect{
  z-index: 999;
  height: 20vh;
  width: 20vh;
  border-radius: 30px;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -10vh;
  margin-left: -10vh;
}
.loadEffect span{
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: lightgreen;
  position: absolute;
  -webkit-animation: load 1.04s ease infinite;
}
@-webkit-keyframes load{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0.2;
  }
}
.loadEffect span:nth-child(1){
  left: 0;
  top: 50%;
  margin-top:-8px;
  -webkit-animation-delay:0.13s;
}
.loadEffect span:nth-child(2){
  left: 14px;
  top: 14px;
  -webkit-animation-delay:0.26s;
}
.loadEffect span:nth-child(3){
  left: 50%;
  top: 0;
  margin-left: -8px;
  -webkit-animation-delay:0.39s;
}
.loadEffect span:nth-child(4){
  top: 14px;
  right:14px;
  -webkit-animation-delay:0.52s;
}
.loadEffect span:nth-child(5){
  right: 0;
  top: 50%;
  margin-top:-8px;
  -webkit-animation-delay:0.65s;
}
.loadEffect span:nth-child(6){
  right: 14px;
  bottom:14px;
  -webkit-animation-delay:0.78s;
}
.loadEffect span:nth-child(7){
  bottom: 0;
  left: 50%;
  margin-left: -8px;
  -webkit-animation-delay:0.91s;
}
.loadEffect span:nth-child(8){
  bottom: 14px;
  left: 14px;
  -webkit-animation-delay:1.04s;
}
