.wrap {
  height: 100%;
  width: 100%;
}
.innerBox{
  width: 80%;
  position: absolute;
  left: 10%;
  right: 10%;
  margin-top: 20vh;
  border-style: none;
  text-align: center;
}
.innerBox h1{
  color: #7C5A43;
  text-transform: uppercase;
  text-align:center;
  letter-spacing: 1vw;
  font-size: calc(15px + 2vw);
  font-weight: bold;
  font-family: Microsoft JhengHei;
  margin-bottom: 6vh;
}
#fb{
  width: 125px;
  height: 50px;
  margin: 10px 2.5px 0px 0px;
  background-image: url('../../img/facebook_login.png');
  background-size:125px 50px;
  background-repeat: no-repeat;
  background-position: center;
}
#gl{
  width: 125px;
  height: 50px;
  margin: 10px 0px 0px 2.5px;
  background-image: url('../../img/google_login2.png');
  background-size:125px 50px;
  background-repeat: no-repeat;
  background-position: center;
}
#userImg,#passwordImg{
  width: 9vh;
  height: 9vh;
  margin-left: -9vh;
}
.innerBox table{
  margin-left: auto;
  margin-right:auto;
  font-family: Microsoft JhengHei;
}
.box input[type = "text"],.box input[type = "password"]{
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border:2px;
  border-bottom-style: solid;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  display: inline;
  margin: 25px auto;
  padding: 14px 10px;
  height: 2vh;
  width: 15vw;
  outline: none;
  font-size: 3vh;
  color: #000000;
  transition: 0.25s;
}
.box input[type = "password"]::placeholder,.box input[type = "text"]::placeholder {
  color: #7e7b7b;
  font-size: 3vh;
  text-align: center;
  opacity: 1; /* Firefox */
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 18vw;
  text-align: center;
  border-color: #000000;
}
.box input[type = "submit"]{
  height: 12vh;
  width: 12vh;
  margin: 20px auto 0px 0px;
  border-radius: 50%;
  border-style: solid;
  border-width: 0px;
  border-color: #000000;
  background-image: url('../../img/Car.png');
  background-size: 100%;
  /* background-color: rgba(102, 216, 246, 0.64); */
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#forgetPassword{
  background: none;
  border-width: 0px;
  font-size: 18px;
  text-decoration:underline;
  color: #287286;
  margin: 30px 0px 0px 0px;
  cursor: pointer;
}

#signUp{
  font-size: 18px;
  margin: 15px 15px 0px 0px;
  color: #287286;
  text-decoration:underline;
  border-style:none;
  background: none;
  cursor: pointer;
}


/*提醒介面*/
.oneLine{
  height: 20vh;
}
.oneLine > #remindH2{
  margin-top: 5vh;
}
.twoLine{
  height: 25vh;
}
.twoLine > #remindH2{
  line-height: 5vh;
  margin-top: 3vh;
}
.twoLine > #remindTrueBtn{
  bottom: 3.5vh;
}
#remindView{
  z-index: 999;
  width: 25vw;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15vh;
  margin-left: -12.5vw;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  min-width: 300px;
  overflow: auto;
}
#remindH2{
  font-size: calc(20px + 1vw);
}
#remindTrueBtn{
  height: 5vh;
  width: 8vw;
  font-size: calc(15px + 1vw);
  line-height: 2.5vh;
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  position: absolute;
  right: calc(50% - 4vw);
  bottom: 3vh;
  cursor: pointer;
}
.bkView{
  z-index: 996;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.74);
}
