<!DOCTYPE html>
<html  dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/backstage/management.css">
    <link rel="stylesheet" href="css/share/mainFontFamily.css">
    <link rel="stylesheet" href="css/share/share.css">
    <link rel="stylesheet" href="css/share/main.css">
    <link rel="stylesheet" href="css/share/left.css">
    <link rel="stylesheet" href="css/share/right.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <script src="js/share.js"></script>
    <link rel="Shortcut Icon" type="image/x-icon" href="img/titleIcon.ico" />
    <title>全速衝線</title>
  </head>
  <body>
    <!-- <audio id="bkMusic" src="Fine_Line.mp3" preload loop volume="0"></audio> -->
    <div class="wrap">
      <div class="main">
        <div class="box sidebarLeft"><!--left-->
          <img src="img/MARK.png" class = "leftMark">
        </div>
        <div class="box center" id="center">
          <img  src="img/bk.jpg" id="bkImg">
          <div id="bkScreen"></div>
          <h1 class="titleH1">管理員首頁</h1>
          <!-- <input type="button" value="" id="goBack3"  onclick="back()"> -->
          <div class="">
            <div class="mUser">
              <input type="button" class="castle_blockly" onclick="location.href='managementUser';">
            </div>
            <div class="mGame">
              <input type="button" class="castle_blockly" onclick="location.href='\\';">
            </div>
            <div class="mStatistics">
              <input type="button" class="castle_link" onclick="location.href='managementStatistics';">
            </div>
          </div>
        </div>
        <div class="box sidebarRight"><!--right-->
          <button class="btnLogout" onclick="logout()"></button>
        </div>
      </div>
      <div class="footer"></div>
    </div>
    <script src="js/backstage/management.js"></script>
    <script src="js/closeEvent.js"></script>
  </body>
</html>
