#clossDiv{
  width: 30px;
  height: 30px;
  background-color: white;
  color: black;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  border-color: rgb(0, 0, 0);
  border-width: 0px;
  position: absolute;
  top: 1%;
  right: 1%;
  margin-top: 0px;
  cursor: pointer;
}
#midMapTitle{
  font-size: 55px;
  font-family: "Microsoft JhengHei",arial,helvetica,sans-serif;
  font-weight: 900;
  margin-top: 20px;
}
.mapBk{
  height: 100%;
  width: 100%;
  background-image: url('../../img/midMapBk.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
}
.btnImg{
  z-index: 1;
  width: 4.5%;
  height: 5.5%;
  position: absolute;
}
.btn{
  z-index: 3;
  width: 4.5%;
  height: 5.5%;
  border-radius: 999em;
  border: 0px;
  background: transparent;
  background-color: none;
  background-size: 100% 100%;
  margin: 1px auto;
  position: absolute;
  cursor: pointer;
}
.unbtn{
  width: 4.5%;
  height: 5.5%;
  border-radius: 999em;
  border: 0px;
  background: transparent;
  background-color: none;
  background-size: 100% 100%;
  margin: 1px auto;
  position: absolute;
  pointer-events: none;
}
#btn0,#img0{left: 11%;bottom: 6%;}
#btn1,#img1{left: 3%;bottom: 10%;}
#btn2,#img2{left: 7%;bottom: 20%;}
#btn3,#img3{left: 19%;bottom: 25%;}
#btn4,#img4{left: 21%;bottom: 38.5%;}
#btn5,#img5{left: 12.5%;bottom: 43%;}
#btn6,#img6{left: 21%;bottom: 56%;}
#btn7,#img7{left: 9%;bottom: 58.5%;}
#btn8,#img8{left: 8%;bottom: 70%;}/*33 fog*/
#btn9,#img9{left: 18%;bottom: 73%;}/*34 fog*/
#btn10,#img10{left: 29%;bottom: 68%;}/*35 fog*/
#btn11,#img11{left: 35%;bottom: 57%;}/*36 fog*/
#btn12,#img12{left: 40%;bottom: 42%;}
#btn13,#img13{left: 37%;bottom: 29%;}
#btn14,#img14{left: 44%;bottom: 16%;}/*39 fog*/
#btn15,#img15{left: 50%;bottom: 4%;}/*40 fog*/
#btn16,#img16{left: 56%;bottom: 16%;}/*41 fog*/
#btn17,#img17{left: 53%;bottom: 30%;}/*42 fog*/
#btn18,#img18{left: 57.5%;bottom: 43%;}/*43 fog*/
#btn19,#img19{left: 65%;bottom: 52%;}/*44 fog*/
#btn20,#img20{left: 73%;bottom: 43.5%;}/*45 fog*/
#btn21,#img21{left: 83%;bottom: 44%;}
#btn22,#img22{left: 89%;bottom: 55%;}
#btn23,#img23{left: 83%;bottom: 65%;}
#btn24,#img24{left: 93%;bottom: 68%;}
#btn25,#img25{left: 91%;bottom: 83.7%;}
#levelDiv{
  z-index: 3;
  width: 52vh;
  height: 40vh;
  font-size: 2.5vh;
  font-weight:bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20vh;
  margin-left: -26vh;
  background-color: #FFC777;
  overflow: auto;
}
#levelDiv{
  z-index: 3;
  width: 50vh;
  height: 35vh;
  font-size: 2.5vh;
  font-weight:bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -17.5vh;
  margin-left: -25vh;
  background-color: #FFC777;
  overflow: auto;
}
#mainGrammar{
  width: 80%;
  height: 5vh;
  margin-left: 10%;
}
.innerGrammar{
  height: 3vh;
  width: auto;
  font-size: 1vw;
  Display:inline-block;
  background-color: #7C5A43;
  color: white;
  padding-top: 1vh;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  margin-left: 1vh;
}
#levelDescription{
  margin-top: 20px;
  padding-left: 5%;
  height: 5vh;
  color: #7C5A43;
  letter-spacing: 1vw;
  font-size: calc(10px + 2vw);
  font-weight: 900;
  font-family: 'DFPingJuStd-W7';
  border-style: solid;
  border-color: #7C5A43;
  border-width: 0px 0px 2px 0px;
}
#levelDescriptiontextarea{
  height: 10vh;
  width: 20vw;
  font-size: 1.2vw;
  font-family:Microsoft JhengHei;
  text-align: center;
  background: none;
  border: none;
  margin-top: -1vh;
  line-height: 24px;
  overflow: auto;
}
#levelBtn{
  width: 15vh;
  height: 3.5vh;
  font-weight:bold;
  position: absolute;
  right: 6vh;
  margin-top: 0.5vh;
  font-size: 2.5vh;
  line-height: 1.75vh;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  cursor: pointer;
}
#historyCode{
  width: 15vh;
  height: 3.5vh;
  font-weight:bold;
  position: absolute;
  left: 6vh;
  margin-top: 0.5vh;
  font-size: 2.5vh;
  line-height: 1.75vh;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  cursor: pointer;
}
.startImg{
  margin: 5px auto;
  height: 35px;
  width: 35px;
  border: 0px;
  background: transparent;
  content:url('../../img/levelStar.png');
  background-size: 100% 100%;
}
.unStartImg{
  margin: 5px auto;
  height: 35px;
  width: 35px;
  border: 0px;
  background: transparent;
  content:url('../../img/levelStarNull.png');
  background-size: 100% 100%;
}
#buttonDiv{
  z-index: 3;
  width: 25vw;
  height: 5vw;
  position: absolute;
  bottom: 1.5vh;
  right: 1%;
}
#buttonDiv input[type="button"]{
  width: 5.5vw;
  height: 5.5vw;
  cursor: pointer;
}
.equipageButton{
  border-width: 0px;
  background-image: url('../../img/equipage.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  margin-right: 5px;
}
.instructionButton{
  border-width: 0px;
  background-image: url('../../img/instruction.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  margin-right: 5px;
}
.achievementButton{
  border-width: 0px;
  background-image: url('../../img/achievement.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  margin-right: 5px;
}
.settingAllButton{
  border-width: 0px;
  background-image: url('../../img/setting_all.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  margin-right: 5px;
}
#centerBlocklyBkView{
  z-index: 3;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.74);
}
#centerBlocklyView{
  z-index: 4;
  height: 70%;
  width: 30%;
  position: absolute;
  top: 15%;
  left: 35%;
  background-color: #FFF2CC;
  box-shadow: 0px 0px 7px 10px rgba(255, 255, 255, 0.68);
  overflow: auto;
}
#viewRecordTable{
  width: 100%;
  margin-top: 20px;
}
#viewRecordTable td{
  height: 50px;
}
#viewRecordtextarea{
  width: 80%;
  height: 40%;
  background-color: white;
  text-align:left;
  position: absolute;
  left: 10%;
  overflow: auto;
}
