<style>
  .input-border{
      border-width: 0 0 1px 0;
  }
</style>
<div class="container pb-2 pt-2" id="MCQ" style="display:flex:justify-content:start;padding:0px">
  <div class="form-group row title">
      <label class="col col-form-label">題目</label>
      <textarea name="" class="form-control"  id="MCQquestion-value" style="width: 100%;margin: 0.5rem 1rem;padding: 10px"></textarea>
  </div>
  <div class="form-group row">
      <label class="col-sm-4 col-form-label">答案</label>
  </div>
  <div class="MCQsetanswer" style="height:auto;padding:0 15px">
    <div class="form-group row MCQanswer1">
        <div class="col-sm-1" style="padding:0px">
            <input type="radio" onclick="MCQcheckAnswerCheck(1)" class="form-control" id="MCQstatus1" data-id="111">
        </div>
        <div class="col-sm-9" >
            <input type="text" class="form-control input-border" placeholder="請輸入選項內容" id="MCQanswer1-value">
        </div>
        <div class="col-sm-1 form-control" style="background: none;border: none">
          <button class="close">
              <span style="padding:0px;" onclick="MCQAnswerremove(1)">&times;</span>
          </button>
        </div>
    </div>
  </div>
  <div style="padding:0 15px">
    <div class="form-group row">
        <div class="col-sm-1" style="padding:0px">
            <input type="radio" class="form-control" onclick="return false">
        </div>
        <div class="col-sm-10" style="padding:5px 15px">
            <span style="width:120px;color:blue;cursor:context-menu;" onclick="MCQaddanswer()">新增選項</span>
        </div>
    </div>
  </div>
  <div class="modal-footer p-0">
    <input type="number" min="0" class="form-control" placeholder="請輸入配分" id="MCQscore-value">
    <button class="btn btn-secondary" onclick="MCQcreateNewQution()" id="MCQButtonAdd">新增題目</button>
    <button class="btn btn-secondary" onclick="MCQSaveQution()" id="MCQButtonSave" style="display:none;">儲存題目</button>
  </div>
</div>
<script>
let temp = 1
function MCQaddanswer(){
  temp +=1
  $('.MCQsetanswer').append(`<div class="form-group row MCQanswer`+temp+`">
      <div class="col-sm-1" style="padding:0px">
          <input type="radio" onclick="MCQcheckAnswerCheck(`+temp+`)" class="form-control" id="MCQstatus`+temp+`" data-id="111">
      </div>
      <div class="col-sm-9" >
          <input type="text" class="form-control input-border" placeholder="請輸入選項內容" id="MCQanswer`+temp+`-value">
      </div>
      <div class="col-sm-1 form-control" style="background: none;border: none">
          <button class="close">
              <span style="padding:0px;" onclick="MCQAnswerremove(`+temp+`)">&times;</span>
          </button>
      </div>
  </div>`)
}
function MCQcheckAnswerCheck(e) {
    let checkstatus = document.getElementById("MCQstatus" + e)
    let data = $("#MCQstatus" + e).attr("data-id")
    if(data == "111"){
        checkstatus.checked = true
        $("#MCQstatus" + e).attr("data-id", "222")
    }else{
        checkstatus.checked = false
        $("#MCQstatus" + e).attr("data-id", "111")
    }
}
function MCQAnswerremove(del){
    $(".MCQanswer" + del).remove();
}
function MCQcreateNewQution(){
    let qutionName = document.getElementById('MCQquestion-value')
    let selection = []
    for(let i = 1 ; i <= temp ; i++){
      if(document.getElementById("MCQanswer"+i+"-value")!=null){
        let selectanswer =  document.getElementById("MCQanswer"+i+"-value")
        selection.push(selectanswer.value)
      }
    }
    let correctAnswers = []
    for(let j = 1 ; j <= temp ; j++){
      if(document.getElementById("MCQanswer"+j+"-value")!=null){
        let data = $("#MCQstatus" + j).attr("data-id")
        if(data == "222"){
          let selectanswer =  document.getElementById("MCQanswer"+j+"-value")
          correctAnswers.push(selectanswer.value)
        }
      }
    }
    let score = document.getElementById('MCQscore-value')
    let answer = {
        type: '選擇題',
        qutionName: qutionName.value,
        selection:  selection,
        correctAnswers: correctAnswers,
        score: score.value
    }
    updateCreatedQutionList(answer);
    //還原
    document.getElementById("MCQquestion-value").value = ""
    document.getElementById("MCQscore-value").value = ""
    for(let i = temp;i > 0 ; i--){
      $(".MCQanswer" + i).remove();
    }
    temp = 0
    MCQaddanswer()
}
let MCQeditQutionID = "";
let cleanMCQ = 1;
let editMCQ = function(qutionData,id){
    document.getElementById("MCQButtonAdd").style = "display:none;"
    document.getElementById("MCQButtonSave").style = "display:auto;"
    //全部移除
    document.getElementById("MCQquestion-value").value = ""
    document.getElementById("MCQscore-value").value = ""
    for(let i = cleanMCQ;i > 0 ; i--){
      $(".MCQanswer" + i).remove();
    }
    temp = 0
    MCQaddanswer()
    cleanMCQ = qutionData.selection.length
    //加入資料
    MCQeditQutionID = id;
    let MCQtitle = document.getElementById('MCQquestion-value')
    let MCQscore = document.getElementById('MCQscore-value')
    MCQtitle.value = qutionData.qutionName
    MCQscore.value = qutionData.score
    for(let i = 1;i<qutionData.selection.length;i++){
        MCQaddanswer()
    }
    for(let j = 1;j <= qutionData.selection.length;j++){
        let MCQselection = document.getElementById("MCQanswer"+j+"-value");
        MCQselection.value = qutionData.selection[j-1]
    }
    for(let correct = 0;correct < qutionData.correctAnswers.length;correct++){
        for(let find = 1;find <= qutionData.selection.length;find++){
            if(document.getElementById("MCQanswer"+find+"-value").value == qutionData.correctAnswers[correct]){
                document.getElementById("MCQstatus" + find).checked = true
                $("#MCQstatus" + find).attr("data-id", "222")
            }
        }
    }
}

function MCQSaveQution(){
    document.getElementById("MCQButtonAdd").style = "display:auto;"
    document.getElementById("MCQButtonSave").style = "display:none;"
    let qutionName = document.getElementById('MCQquestion-value')
    let selection = []
    for(let i = 1 ; i <= temp ; i++){
      if(document.getElementById("MCQanswer"+i+"-value")!=null){
        let selectanswer =  document.getElementById("MCQanswer"+i+"-value")
        selection.push(selectanswer.value)
      }
    }
    let correctAnswers = []
    for(let j = 1 ; j <= temp ; j++){
      if(document.getElementById("MCQanswer"+j+"-value")!=null){
        let data = $("#MCQstatus" + j).attr("data-id")
        if(data == "222"){
          let selectanswer =  document.getElementById("MCQanswer"+j+"-value")
          correctAnswers.push(selectanswer.value)
        }
      }
    }
    let score = document.getElementById('MCQscore-value')
    let answer = {
        type: '選擇題',
        qutionName: qutionName.value,
        selection:  selection,
        correctAnswers: correctAnswers,
        score: score.value
    }
    QuationList[MCQeditQutionID] = answer;
    updateQutionList();
    //還原
    document.getElementById("MCQquestion-value").value = ""
    document.getElementById("MCQscore-value").value = ""
    for(let i = temp;i > 0 ; i--){
      $(".MCQanswer" + i).remove();
    }
    temp = 0
    MCQaddanswer()
}
//阻止輸入
// Select your input element.
var number = document.getElementById('MCQscore-value');
// Listen for input event on numInput.
number.onkeydown = function(e) {
    if(!((e.keyCode > 95 && e.keyCode < 106)
      || (e.keyCode > 47 && e.keyCode < 58)
      || e.keyCode == 8)) {
        return false;
    }
}
</script>
