<html>

<head>
  <title>Coding</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

</head>
<style>
  *{
    font-family : 微軟正黑體;
  }
  .nooutline:focus,
  .nooutline:active {
    outline: none !important;
    box-shadow: none;
  }
</style>

<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-light bg-white" style="z-index: 3;width: 100%">
    <a class="navbar-brand" href="/"><img src="/img/logo.png" class="img-fluid" style="height: 30px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <%if(user){%>
          <li class="nav-item">
            <a class="nav-link" href="/">首頁 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/class">總開課清單</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/coding">程式練習區</a>
          </li>
          <%}%>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%if(user){%>
          <%if(user.permission == "admin"){%>
            <li class="nav-item">
              <a class="nav-link" href="/backend">
                        後台
                    </a>
            </li>
            <%}%>
              <%if(user.permission == "teacher"){%>
                <li class="nav-item">
                  <a class="nav-link" href="/class/CreateNewClass">
                        建立課程
                    </a>
                </li>
                <%}%>
                  <li class="nav-item">
                    <div class="btn-group">
                      <button type="button" class="btn dropdown-toggle nooutline" style="color: rgb(130, 130, 130)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%=user.username%>
                </button>
                      <div class="dropdown-menu ">
                        <a class="dropdown-item text-center" href="/users/userinfo">個人資料</a>
                        <%if(user.permission == "teacher"){%>
                          <a class="dropdown-item text-center" href="/users/myclass">個人開課清單</a>
                          <%}%>
                            <%if(user.permission == "student"){%>
                              <a class="dropdown-item text-center" href="/users/myclass">個人修課清單</a>
                              <a class="dropdown-item text-center" href="/users/mynote">我的筆記</a>

                              <%}%>
                      </div>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/logout">登出</a>
                  </li>
                  <%}else{%>
                    <li class="nav-item">
                      <a class="nav-link" href="/users/register">註冊會員<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/users/login">登入平台</a>
                    </li>
                    <%}%>

      </ul>

    </div>
  </nav>

  <%- messages('message', locals) %>
    <!-- ejs 的if如果要確定他有沒有傳過來的話是要用typeof -->
    <% if(typeof errors !== 'undefined') { %>
      <%errors.forEach(function(error){%>
        <div class="alert alert-danger">
          <%=error.msg%>
        </div>
        <%})%>
          <%}%>
